
**/.sass-cache/**
*.7z
*.class
*.com
*.dll
*.dmg
*.egg
*.egg-info/
*.exe
*.gz
*.iso
*.jar
*.key
*.log
*.manifest
*.mo
*.o
*.pot
*.py[cod]
*.pyc
*.pyo
*.rar
*.so
*.spec
*.sql
*.sqlite
*.tar
*.tar.gz
*.whl
*.zip
*egg-info
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Python
.Spotlight-V100
.Trashes
._*
.apdisk
.cache
.coverage
.env
.installed.cfg
.tox/
Icon
Icon*
Network Trash Folder
Temporary Items
Thumbs.db
__pycache__/
build/**
cache/**
coverage.xml
develop-eggs/
dist/**
docs/**
docs/_build/
eggs/
ehthumbs.db
venv/**

htmlcov/
lib/
lib64/
nosetests.xml
output/**
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
