#bg {
    padding-top: 320px;
    padding-bottom: 320px;
    background-repeat: no-repeat;
    background-position: static;
    background-image: url("/img/bird.jpg");
    height: 100%;
    opacity:0.8;
    max-width: 100%;
    background-size: cover;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
    border: 0px;
}

img {
    display: block;
    width: 1024px;
    max-width: 100% !important;
    height: auto;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
