@mixin background-sizing($size: cover) {
    -webkit-background-size: $size;
       -moz-background-size: $size;
         -o-background-size: $size;
            background-size: $size;
}

@mixin user-selectable($item: none) {
    -webkit-touch-callout: $item;
      -webkit-user-select: $item;
       -khtml-user-select: $item;
         -moz-user-select: $item;
          -ms-user-select: $item;
              user-select: $item;
}

@mixin background-image(
    $url,
    $position: no-repeat top fixed,
    $vheight: 640px) {
    max-width: 100%;
    background: url($url) $position;
    background-position: center top;
    height: $vheight;
}

@mixin figure($name) {
    .#{$name} {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

#bg {
    @include background-image("/img/bird.jpg");
    @include background-sizing;
}

img {
    display: block;
    :default {
        width: 1024px;
    }
    max-width: 100% !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

@include figure("youtube");
@include figure("plotly");


@media (max-width: 768px), handheld and (orientation: landscape) {
    #bg {
        @include background-image("/img/bird-640.jpg", $vheight: 480px);
    }
    .container {
        max-width: 768px
    }
}

@media (min-width: 1200px) {
    #bg {
        @include background-image("/img/bird-full.jpg", $vheight: 920px);
    }
}

span.formula {
    font-size: 14px;
}

pre {
    counter-reset: line-numbering;
    border: solid 1px #d9d9d9;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}

.highlight pre > span:before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em; /* space after numbers */
    width: 3em;
    text-align: right;
    opacity: 0.7;
    display: inline-block;
    color: #aaa;
    background: #eee;
    margin-right: 1em;
    border-right: 1px solid #dedede;
    @include user-selectable(none);
}
